<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="applicationContext-cxfClient.xml" />

	<context:component-scan base-package="edu.kit.cm.kitcampusguide.controller" />
	<context:component-scan base-package="edu.kit.cm.kitcampusguide.controller.form" />
	<context:component-scan base-package="edu.kit.cm.kitcampusguide.service.security" />

	<bean id="poiFacade"
		class="edu.kit.cm.kitcampusguide.service.ws.PoiFacadeClientImpl">
		<constructor-arg>
			<ref bean="poiService" />
		</constructor-arg>
	</bean>

	<bean id="poisController" class="edu.kit.cm.kitcampusguide.controller.PoisController">
		<constructor-arg>
			<ref bean="poiFacade" />
		</constructor-arg>
	</bean>

	<bean id="updatePoiForm" class="edu.kit.cm.kitcampusguide.controller.form.UpdatePoiForm">
		<constructor-arg ref="poiFacade" />
		<constructor-arg ref="memberService" />
	</bean>

	<bean id="createPoiForm" class="edu.kit.cm.kitcampusguide.controller.form.CreatePoiForm">
		<constructor-arg ref="poiFacade" />
		<constructor-arg ref="memberService" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
</beans>
