@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 144px 0 0 200px; /* 120 + 23 + 1 */
	overflow-y: hidden;
}

* html body {
	overflow: hidden;
}

* html div#advanced-results {
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

div#advanced-header {
	position: absolute;
	top: 23px;
	left: 0;
	width: 500%;
	height: 120px;
	background-color: #E2E4FF;
	border-bottom: 1px solid gray;
	line-height: 200%;
}

div#advanced-left {
	position: absolute;
	padding: 10px; 
	top: 143px; /* 120 + 23*/
	left: 0;
	width: 200px;
	height: 100%;
}

@media screen {
	body>div#advanced-header {
		position: fixed;
	}
	body>div#advanced-left {
		position: fixed;
	}
}

div.advanced-logo {
	float: left; width: 230px;
	text-align: center;
	padding: 25px 0 0 0;
	
}

div.advanced-search{
	float: left;
	padding: 20px;
	margin: 10px;
	width: 450px;
	position: relative;
}

/* Move Search Button to right */
div.advanced-search input[type="submit"]{
	width: 100px;
	position: absolute;
	left: 500px;
	top: 40px;
}