@CHARSET "UTF-8";

/* 
	Reset Browser settings.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, Verdana, Times New Roman, Courier;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Header Bar
 */

header{
	color: white;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 23px;
}

header nav{
	height: 23px;
	background: #2e2e2e;
}

header nav ul{
	float: left;
}

header nav ul li{
	display: block;
	float: left;
}

header nav ul li a{
	display: block;
	padding: 3px 10px;
	color: white;
	text-decoration: none;	
}

header div.right{
	float: right;
	padding: 3px 10px;
}

/*
 * SimpeSearch Page
 */

div.simple-logo{
	text-align: center;
	padding: 50px 0 0 0;
}

div.login-form, div.simple-search{
	background-color: #E2E4FF;
	border-radius: 10px;
	padding: 20px;
	margin: 40px auto;
	width: 450px;
	overflow: visible;
	position: relative;
	line-height: 200%;
}

/* Move Search Button to middle bottom*/
div.simple-search input[type="submit"]{
	width: 100px;
	position: absolute;
	left: 190px;
	top: 110px;
}

/*
 *	SearchForm common
 */

input[name="start"]{
	width: 100px;
}

input[name="duration"]{
	width: 50px;
}

span.searchText{
	float: right;
}

input[name="searchText"]{
	width: 200px;
}


div.header2{
	margin-top: 23px;
	height: 100px;
}

div.header2 div#logo{
	width: 180px;
	float: left;
}

div.header2 div.right{
	float: left;
	padding: 3px 10px;
}

div.header2 div.right h1{
	padding: 10px 10px;
	font-size: 18px;
}

strong{
	font-weight: bold;
}

h2{
	margin: 10px 0 5px 0;
	font-weight: bold;
}

#resultTable tbody tr{
	cursor: pointer;
}

#resultTable tbody tr:hover{
	background-color: lightgray;
}

div.reservationDetails {
	margin: 5px 0 10px 0;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 5px;
}
div.reservationDetails div {
	padding-bottom: 5px;
}
div.reservationDetails div.room {
	font-size: 19px;
	color: #0E4669;
	padding-bottom: 8px;
}
div.reservationDetails div.time {
	padding-bottom: 8px;
}

div.page {
	padding: 0 10px 0 15px;
}

/*
 * Room Detail Page
 * 
 */
 
div#workplaces_wrapper{
	min-height: 0;
}

div.bookingForm{
	float: right;
	width: 400px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
