@CHARSET "UTF-8";

/* 
	Reset Browser settings.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	color: white;
}

header nav{
	height: 23px;
	background: #2e2e2e;
}

header nav ul{
	float: left;
}

header nav ul li{
	display: block;
	float: left;
}

header nav ul li a{
	display: block;
	padding: 3px 10px;
	color: white;
	text-decoration: none;	
}

header div.right{
	float: right;
	padding: 3px 10px;
}

div.simple-search{
	border: 2px solid black;
	padding: 20px;
	margin: 40px auto;
	width: 450px;
}

div.advanced-search{
	border: 2px solid black;
	padding: 20px;
	margin: 10px;
	width: 450px;
}

input[name="start"]{
	width: 100px;
}

input[name="duration"]{
	width: 50px;
}

span.searchText{
	float: right;
}

input[name="searchText"]{
	width: 200px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
