@CHARSET "UTF-8";

* html body {
	overflow: hidden;
}

div#advanced-header {
	margin-top: 23px;
	height: 120px;
	background-color: #E2E4FF;
	border-bottom: 1px solid gray;
	line-height: 200%;
}

div.advanced-logo {
	float: left; width: 230px;
	text-align: center;
	padding: 25px 0 0 0;
	
}

div.advanced-search{
	float: left;
	padding-top: 30px;
	height: 80px;
}

div#advanced-left {
	/*position: absolute;*/
	float: left;
	clear: both;
	padding: 10px; 
	top: 143px; /* 120 + 23*/
	left: 0;
	width: 200px;
	height: 100%;
}

div#advanced-results {
	width: auto;
	margin-left: 220px;
}

div #container {
	float: left;
	width: 100%;
}

div#dataTables_scrollBody {
	min-height: 270px;
}

/* Move Search Button to right */
div.advanced-search input.searchButton {
	width: 100px;
	position: relative;
	top: -15px;
}