<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">

	<!-- <import resource="applicationContext-dao.xml" /> -->

	<bean id="poiServiceImpl" class="edu.kit.cm.kitcampusguide.ws.poi.soap.PoiServiceImpl">
		<constructor-arg>
			<ref bean="poiFacadeImpl" />
		</constructor-arg>
	</bean>

	<bean id="poiFacadeImpl" class="edu.kit.cm.kitcampusguide.ws.poi.PoiFacadeImpl">
		<constructor-arg>
			<ref bean="poiDaoImpl" />
		</constructor-arg>
	</bean>

</beans>
