<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="memberService"
		class="edu.kit.cm.kitcampusguide.service.user.InMemoryMemberServiceImpl">
		<property name="users">
			<list value-type="edu.kit.cm.kitcampusguide.model.Member">
				<ref bean="institutsleiter" />
				<ref bean="institutsleiter2" />
				<ref bean="institutsupdater" />
				<ref bean="mitarbeiter" />
				<ref bean="student" />
			</list>
		</property>
		<property name="groups">
			<list value-type="edu.kit.cm.kitcampusguide.model.Institute">
				<ref bean="institute" />
				<ref bean="institute2" />
				<ref bean="institute3" />
			</list>
		</property>
	</bean>

	<bean id="institutsleiter" class="edu.kit.cm.kitcampusguide.model.Member">
		<property name="name" value="institutsleiter" />
		<property name="password" value="institutsleiter" />
		<property name="groupMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="institutsleiterGruppe1" />
			</list>
		</property>
	</bean>

	<bean id="institutsleiter2" class="edu.kit.cm.kitcampusguide.model.Member">
		<property name="name" value="institutsleiter2" />
		<property name="password" value="institutsleiter2" />
		<property name="groupMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="institutsleiter2Gruppe2" />
			</list>
		</property>
	</bean>
	
	<bean id="institutsupdater" class="edu.kit.cm.kitcampusguide.model.Member">
		<property name="name" value="institutsupdater" />
		<property name="password" value="institutsupdater" />
		<property name="groupMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="institutsupdaterGruppe1" />
			</list>
		</property>
	</bean>

	<bean id="mitarbeiter" class="edu.kit.cm.kitcampusguide.model.Member">
		<property name="name" value="mitarbeiter" />
		<property name="password" value="mitarbeiter" />
		<property name="groupMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="mitarbeiterGruppe1" />
			</list>
		</property>
	</bean>

	<bean id="student" class="edu.kit.cm.kitcampusguide.model.Member">
		<property name="name" value="student" />
		<property name="password" value="student" />
	</bean>

	<bean id="institute" class="edu.kit.cm.kitcampusguide.model.Institute">
		<property name="name" value="Cooperation and Management" />
		<property name="memberMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="mitarbeiterGruppe1" />
				<ref bean="institutsupdaterGruppe1" />
				<ref bean="institutsleiterGruppe1" />
			</list>
		</property>
	</bean>

	<bean id="institute2" class="edu.kit.cm.kitcampusguide.model.Institute">
		<property name="name" value="Institute 2" />
		<property name="memberMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
				<ref bean="institutsleiter2Gruppe2" />
			</list>
		</property>
	</bean>

	<bean id="institute3" class="edu.kit.cm.kitcampusguide.model.Institute">
		<property name="name" value="Institute without members" />
		<property name="memberMappings">
			<list value-type="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping" />
		</property>
	</bean>

	<bean id="mitarbeiterGruppe1" class="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
		<property name="group" ref="institute" />
		<property name="member" ref="mitarbeiter" />
		<property name="role" value="ROLE_MITARBEITER" />
	</bean>

	<bean id="institutsleiterGruppe1" class="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
		<property name="group" ref="institute" />
		<property name="member" ref="institutsleiter" />
		<property name="role" value="ROLE_INSTITUTSLEITER" />
	</bean>

	<bean id="institutsleiter2Gruppe2" class="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
		<property name="group" ref="institute2" />
		<property name="member" ref="institutsleiter2" />
		<property name="role" value="ROLE_INSTITUTSLEITER" />
	</bean>
	
	<bean id="institutsupdaterGruppe1" class="edu.kit.cm.kitcampusguide.model.MemberToGroupMapping">
		<property name="group" ref="institute" />
		<property name="member" ref="institutsupdater" />
		<property name="role" value="ROLE_INSTITUTSUPDATER" />
	</bean>
	
	
</beans>
