@CHARSET "ISO-8859-1";

<html> <head><!--body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background-color: white;
	}

/* Zurücksetzen der Innen- und Außenabstände */
* {
	margin: 0;
	padding: 0;
}

#page {
	width:100%;
	margin: 0 auto;
}

table.fullWidth {
	border:1px solid #009d82;
}

.bar {
/*	width: 560px;*/
	background-color: #e5e5e5;
	border-color: #009d82;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
}

.lateralForm {
	background-color: #e5e5e5;
	border-color: #009d82;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	width: 136px;
	height: 270px;
	padding-left: 5px;
}

.lateralArea {
	width: 136px;
	height: 270px;
	padding-left: 5px;	
}

.kitlogo {
	width: 100px;
	padding:10px;
}
</style>
</head>
</html>