@CHARSET "ISO-8859-1";

<html> <head><!--body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background-color: white;
	}

/* Zurücksetzen der Innen- und Außenabstände */
* {
	margin: 0;
	padding: 0;
}

#page {
	width:100%;
	margin: 0 auto;
}

#kitcampus {
	width: 560px;
	height: 400px;
}

#bar {
	width: 560px;
	background-color: #CCFFCC;
	border-color: green;
	border-width: 2px;
	border-style: solid;
}
#logo {
	width: 100px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

#input {
	width: 340px;
	vertical-align: centre;
}

#navigation {
	width: 120px;
	text-align: right;
}

-->
</style>
</head>
</html>