@CHARSET "UTF-8";
	
.green-button {
	color: #009682;
	font-weight: bold;
	height: 18px;
	vertical-align: top;
	margin: 0 0 0 5px;
	background-color: #e8e8e8;
}   
.green-menubutton {
    color: #009682;
    font-weight: bold;
    height: 18px;
    width: 146px;
    vertical-align: top;
    margin: 0 0 5px 0;
    background-color: #dddddd;
}

#headline {
    background-image: url(../resources/campusguide/img/headline.png);
    background-repeat: repeat-x;
    border: 1px solid #000000;
    font-weight: bold;
	height: 25px;
    margin: 0;
    padding-left: 5px;
    padding-top: 3px;
    width: 753px;
    z-index: 9999;
}

#headline-corner {
    background-image: url(../resources/campusguide/img/headline_corner.png);
    border: 0px;
	height: 15px;
	left: 739px;
    margin: 0;
    position: relative;
    top: -24px;
    width: 15px;
    z-index: 10000;
}

#hide-sidebar {
    background-image: url(../resources/campusguide/img/hide.png);
    background-repeat: no-repeat;    
    border: 0px;
	height: 15px;
    margin: 0;
    margin-top: 2px;
    width: 11px;
    z-index: 9999;
}

.hidden {
	visibility: hidden;
	display: none;
}

.infobox-links {
	right: 0px;
	height:2.5455em;
	line-height:2.5455em;
	text-align:right;
}

.infobox-links a {
    color:#009682;
    text-decoration:none;
}

.infobox-links a:hover {
	text-decoration:underline;
}

#map {
	border: 1px solid black;
    border-top-width: 0px;
	height: 500px;
	margin-bottom:10px;
    width:558px;
}

#map-contextmenu {
    display: none;
}

.map-contextmenu {
    
}

#map-corner {
    background-image: url(../resources/campusguide/img/map_corner.png);
    border: 0px;
	height: 15px;
	left: 214px;
    margin: 0;
    position: absolute;
    top: 707px;
    width: 11px;
    z-index: 10000;
}

.map-popup {
	display: none;
}

.map-popup-pane {
	height: 100%;
	position: relative;
	top: -8px;
	left: -8px;
	min-width: 300px;
}

.poi-categories {
	color: #000000;
	font-weight: normal;
	height: 16px;
	vertical-align: top;
}

.poi-description {
    padding: 6px;
    margin-right: 20px;
    min-height: 20px;
}

.poi-filter {
	color: #009682;
	font-weight: bold;
	vertical-align: top;
	margin: 0 0 0 5px;
	border-width: 0px;
    border: none;
}

.poi-filter table{
    background: none;  
    background-color: none;
    border: none;
    background-image: url(../resources/campusguide/img/poi-filter.png);
    background-repeat: no-repeat; 
    height: 17px;
	width: 117px;     
    padding-left: 10px;
    padding-right: 10px
}

.poi-menu {
	bottom: 0;
    padding: 6px;
    position: absolute;
    text-align: right;
    right: 0;
    min-width: 233px;
}

.poi-name {
	color: #009682;
    font-size: 15px;
    font-weight: bold;
    min-width: 233px;
    padding: 6px;
    height: 11px;
    white-space: nowrap;
}

#poi-pane {
    padding: 5px;
    bottom: 0px;
    position: absolute;
	z-index: 10000;
}

.route-field {
	height: 16px;
	margin: 0 0 5px 5px;
    width: 187px;
    z-index: 9999;
}

.search-field {
	height: 16px;
}

#show-sidebar {
    background-image: url(../resources/campusguide/img/show.png);
    background-repeat: no-repeat;    
    border: 0px;
	height: 15px;
    margin: 0;
    margin-top: 2px;
    width: 11px;
    z-index: 9999;    
    right: 40px;
    top: 221px;
    position: absolute;
}

#sidebar {
	background-color:#ffffff;
	border: 1px solid black;
    border-top-width: 0px;
    left: -1px;
	height: 500px; 
}

.sidebar {
	height: 500px; 
    margin: 0;
	width: 199px; 
	z-index: 9999;
    position: absolute;
}

#sidebar-border {
	background-color:#ffffff;
	border: 1px solid black;
    border-top-width: 0px;
    width = 200px;
	z-index: 1;
    top: 221px;
    right: 41px;
}

#sidebar-pane {
	height: 501px; 
    top: 221px;
    right: 42px;
    overflow: hidden;
}

#sidebar-suggestions {
}

span.hidden {
	visibility: hidden;
	display: none;
}

table.cgtable {
    color:#000000;
    margin-bottom:10px;
    width:730px;
}

table.cgtable th {
    background-color:#e5e5e5;
    color:#000000;
    padding:4px 5px 5px;
    text-align:left;
    vertical-align:bottom;
    z-index: -10;
}

table.cgtable row1 {
    width:558px;
}

table.cgtable row2 {
    width:172px;
}
	