@CHARSET "UTF-8";
#map {
	height: 500px;
	border: 1px solid black;
	margin-bottom:10px;
    width:558px;
}

#sidebar {
	width: 172px; 
	height: 500px; 
	border: 1px solid black;
	z-index: 9999;
	background-color:#FFFFFF;
}

table.cgtable {
    color:#000000;
    margin-bottom:10px;
    width:730px;
}
table.cgtable th {
    background-color:#e5e5e5;
    color:#000000;
    padding:4px 5px 5px;
    text-align:left;
    vertical-align:bottom;
    z-index: -10;
}å
table.cgtable row1 {
    width:558px;
}
table.cgtable row2 {
    width:172px;
}

.hidden {
	visibility: hidden;
	display: none;
}

span.hidden {
	visibility: hidden;
	display: none;
}

#headline {
    border: 1px solid #000000;
    margin:0;
    font-weight:bold;
    width: 733px;
    z-index: 9999;
}

#sidebar-suggestions {
	height:430px;
}
	

