@CHARSET "UTF-8";
#map {
	border: 1px solid black;
    border-top-width: 0px;
	height: 500px;
	margin-bottom:10px;
    width:558px;
}

#sidebar {
	background-color:#ffffff;
	border: 1px solid black;
    border-left-width: 0px;
    border-top-width: 0px;
	height: 500px; 
	left: 560px;
    margin: 0;
    position: relative;
    top: -516px;
	width: 199px; 
	z-index: 9999;
}

table.cgtable {
    color:#000000;
    margin-bottom:10px;
    width:730px;
}
table.cgtable th {
    background-color:#e5e5e5;
    color:#000000;
    padding:4px 5px 5px;
    text-align:left;
    vertical-align:bottom;
    z-index: -10;
}
table.cgtable row1 {
    width:558px;
}
table.cgtable row2 {
    width:172px;
}

.hidden {
	visibility: hidden;
	display: none;
}

span.hidden {
	visibility: hidden;
	display: none;
}

#headline {
    background-image: url(../resources/campusguide/img/headline.png);
    background-repeat: repeat-x;
    border: 1px solid #000000;
    font-weight: bold;
	height: 25px;
    margin: 0;
    padding-left: 5px;
    padding-top: 3px;
    width: 753px;
    z-index: 9999;
}

#headline-corner {
    background-image: url(../resources/campusguide/img/headline_corner.png);
    border: 0px;
	height: 15px;
	left: 739px;
    margin: 0;
    position: relative;
    top: -24px;
    width: 15px;
    z-index: 10000;
}

#map-corner {
    background-image: url(../resources/campusguide/img/map_corner.png);
    border: 0px;
	height: 15px;
	left: 0px;
    margin: 0;
    position: relative;
    top: -15px;
    width: 15px;
    z-index: 10000;
}

#hide-sidebar {
    border: 0px;
	height: 20px;
    margin: 0;
    width: 200px;
    z-index: 9999;
}

.search-field {
	height: 16px;
}

.route-field {
	height: 16px;
	margin: 0 0 5px 5px;
    width: 187px;
    z-index: 9999;
}
	
.green-button {
	color: #009682;
	font-weight: bold;
	height: 18px;
	vertical-align: top;
	margin: 0 0 0 5px;
}

#poi-pane {
    padding: 5px;
    bottom: 0px;
    position: absolute;
	z-index: 10000;
}

#sidebar-suggestions {
}

.o_folding_panel {
	border-bottom-width: 0;
}

.infobox-links {
	right: 0px;
	height:2.5455em;
	line-height:2.5455em;
	text-align:right;
}

.infobox-links a {
    color:#009682;
    text-decoration:none;
}

.infobox-links a:hover {
	text-decoration:underline;
}
	

