
body {
	font-family: sans-serif;
	font-size: 12px;
}
.label {
	width: 140px;
	display: block;
	float: left;
}
.field {
	font-family: sans-serif;
	font-size: 12px;
 	width: 200px;
 	display: block; 
}