<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Android authentication tester</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>classicLoginHandler</servlet-name>
    <servlet-class>main.java.edu.kit.cm.auth.ClassicLoginHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>qrLoginHandler</servlet-name>
    <servlet-class>main.java.edu.kit.cm.auth.QrLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classicLoginHandler</servlet-name>
    <url-pattern>/login/classic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qrLoginHandler</servlet-name>
    <url-pattern>/login/qr</url-pattern>
  </servlet-mapping>
</web-app>