@CHARSET "ISO-8859-1";

.map {
/*	width: 560px;*/
/*	height: 360px; */
/*	width: 420px;*/
	height: 270px; 
	width:100%;
	border-width: 0px 0px 0px 0px;
	border-color: #009d82;
	border-style: solid;
}

.hidden {
	visibility: hidden;
	height: 0;
	width: 0;
}

.mapPopupHeader {
	font-size: 17px;
	color: black;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	font-weight: bolder;
	margin: 4px;
}

.mapPopupPOIInfo {
	color: black;
}

.mapBuildingPOILinks {
	font-weight: bold;
	color: #009d82;
	border-top-width: 1px;
	border-top-color: #009d82;
	border-top-style: solid;
	margin-top: 5px;
}

.mapContextMenuEntry {
	background-color: #ffffff;
	text-decoration: underline;
	color: #009d82;
	margin-right: 12px;
}

.mapContextMenuEntryHighlighted {
	font-weight: bold;
	background-color: #009d82;
	color: #ffffff;
	
}

.fullWidth {
	width:100%;
}