@CHARSET "ISO-8859-1";

.map {
    width: 560px;
    height: 360px;
    border-width: 1px 1px 0px 1px;
    border-color: #009d82;
    border-style: solid;
}

.hidden {
	visibility: hidden;
	height: 0;
	width: 0;	
}

.mapPopupHeader {
	font-size: 17px;
	color: black;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	font-weight: bolder;	
	margin: 4px;
}

.mapPopupPOIInfo {
	color: black;
}

.mapBuildingPOILinks {
	font-weight: bold;
	color: #009d82;
	border-top-width: 1px;
	border-top-color: #009d82;
	border-top-style: solid;
	margin-top: 5px;
}
	
