@CHARSET "ISO-8859-1";

.map {
    width: 560px;
    height: 360px;
    border: 1px solid #ccc;
}

.hidden {
	visibility: hidden;
	height: 0;
	width: 0;	
}

.mapPopupHeader {
	font-size: 17px;
	color: #999999;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	border-bottom-style: solid;
	font-weight: bolder;	
	margin: 4px;
}

.mapBuildingPOILinks {
	font-weight: bold;	
}
	