<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Scan classes in package for several annotations -->
	<context:component-scan base-package="edu.kit.pse.ass.booking.dao" />
	<!-- Evaluate annotations for transactions -->
	<tx:annotation-driven />
	<bean class="edu.kit.pse.ass.booking.dao.BookingDAOImpl" autowire-candidate="true">
		<property name="jpaTemplate" ref="jpaTemplate" /> 
	</bean>
		
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="persistenceUnitName" value="reservationPersistenceUnit" />
		<property name="persistenceUnitManager">
			<bean
				class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
				<prop key="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</prop>
				<prop key="hibernate.connection.url">jdbc:derby:target/embeddedTestDB;create=true</prop>
				<prop key="hibernate.connection.username">benutzername</prop>
				<prop key="hibernate.connection.password">passwort</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="jpaTemplate" class="org.springframework.orm.jpa.JpaTemplate">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>
