@CHARSET "ISO-8859-1";

.map {
	height: 270px; 
	width:100%;
	border-width: 0px 0px 0px 0px;
	border-color: #009d82;
	border-style: solid;
}

.hidden {
	display: none;
}

.mapPopupHeader {
	font-size: 17px;
	color: black;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	font-weight: bolder;
	margin: 4px;
}

/* It was necessary to move this class to map.css . Otherwise the OpenLayers style.css was loaded
"too late", corrupting the size calculation of popups. */
.olPopupContent {
    padding:5px;
    overflow: auto;
}

.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.mapPopupPOIInfo {
	color: black;
}

.mapBuildingPOILinks {
	font-weight: bold;
	color: #009d82;
	border-top-width: 1px;
	border-top-color: #009d82;
	border-top-style: solid;
	margin-top: 5px;
}

.mapContextMenuEntry {
	background-color: #ffffff;
	text-decoration: underline;
	color: #009d82;
	margin-right: 12px;
}

.mapContextMenuEntryHighlighted {
	font-weight: bold;
	background-color: #009d82;
	color: #ffffff;
	
}

.fullWidth {
	width:100%;
}

#page {
	width:100%;
	margin: 0 auto;
}

table.fullWidth {
	border:1px solid #009d82;
}

.bar {
	background-color: #e5e5e5;
	border-color: #009d82;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
}

.lateralForm {
	background-color: #e5e5e5;
	border-color: #009d82;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	width: 136px;
	height: 270px;
	padding-left: 5px;
}

.lateralArea {
	width: 136px;
	height: 270px;
	padding-left: 5px;	
}

.kitlogo {
	width: 100px;
	padding:10px;
}

.filterBoxLabel {
	margin: 10px;