<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">

	<bean id="poiServiceImpl" class="edu.kit.cm.kitcampusguide.ws.poi.soap.PoiServiceImpl">
		<constructor-arg>
			<ref bean="poiFacade"/>
		</constructor-arg>
	</bean>

	<bean id="poiFacade" class="edu.kit.cm.kitcampusguide.ws.poi.PoiFacade">
		<constructor-arg>
			<ref bean="poiDaoImpl" />
		</constructor-arg>
	</bean>

	<bean id="poiDaoImpl" class="edu.kit.cm.kitcampusguide.dao.jpa.PoiDaoImpl">
		<constructor-arg>
			<!-- jpaTemplate is defined in applicationContext-persistence -->
			<ref bean="jpaTemplate" />
		</constructor-arg>
	</bean>

</beans>
