
body {
	font-family: sans-serif;
	font-size: 12px;
}
.poi {
	clear: both;
}
.name {
	width: 160px;
	overflow: hidden;
}
.description {
	width: 300px;
	overflow: hidden;
}
.longitude {
	width: 20px;
}
.latitude {
	width: 20px;
}
.title {
	font-weight: bold;
}