<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="poiService" class="edu.kit.tm.cm.kitcampusguide.poiservice.PoiService"
		factory-bean="clientFactory" factory-method="create" />

	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="edu.kit.cm.kitcampusguide.ws.poi.PoiService" />
		<property name="address" value="http://localhost:8080/poi/poiservice" />
		<!-- <property name="wsdlLocation" value="WEB-INF/PoiService.wsdl" /> -->
		<property name="features">
			<list>
				<bean class="org.apache.cxf.feature.LoggingFeature" />
			</list>
		</property>
		<property name="inInterceptors">
			<list>
				<ref bean="rmLogicalIn" />
				<ref bean="rmCodec" />
				<bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
			</list>
		</property>
		<property name="inFaultInterceptors">
			<list>
				<ref bean="rmLogicalIn" />
				<ref bean="rmCodec" />
			</list>
		</property>
		<property name="outInterceptors">
			<list>
				<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
				<bean class="org.apache.cxf.binding.soap.saaj.SAAJOutInterceptor" />
				<bean id="wsSecurityInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
					<constructor-arg>
						<map>
							<entry key="action" value="UsernameToken" />
							<entry key="user" value="ws-client" />
							<entry key="passwordType" value="PasswordDigest" />
							<entry key="passwordCallbackRef" value-ref="passwordInCallbackHandler" />
						</map>
					</constructor-arg>
				</bean>
				<ref bean="rmLogicalOut" />
				<ref bean="rmCodec" />
			</list>
		</property>
		<property name="outFaultInterceptors">
			<list>
				<ref bean="rmLogicalOut" />
				<ref bean="rmCodec" />
			</list>
		</property>
	</bean>

	<bean id="passwordInCallbackHandler"
		class="edu.kit.cm.kitcampusguide.jaxws.callback.UserPasswordOutCallbackHandler">
		<property name="memberService" ref="memberService" />
		<property name="securityService">
			<bean
				class="edu.kit.cm.kitcampusguide.service.security.SecurityServiceImpl" />
		</property>
	</bean>

	<!-- <bean id="passwordInCallbackHandler" -->
	<!-- class="org.springframework.ws.soap.security.wss4j.callback.SpringDigestPasswordValidationCallbackHandler"> -->
	<!-- <property name="userDetailsService" ref="inMemoryUserDetailService" 
		/> -->
	<!-- </bean> -->

	<bean id="rmLogicalOut" class="org.apache.cxf.ws.rm.RMOutInterceptor" />
	<bean id="rmLogicalIn" class="org.apache.cxf.ws.rm.RMInInterceptor" />
	<bean id="rmCodec" class="org.apache.cxf.ws.rm.soap.RMSoapInterceptor" />
</beans>
